<div class="d-flex header_block">
    <div class="logo_block">
        <%= link_to home_path do %>
            <img src="https://www.yiiframework.com/image/design/logo/yii3_sign.png" class="logo_image" />
        <% end %>
    </div>
    <div class="authentication_block d-flex gap-3">
    <% if user_signed_in? %>
        <%= link_to "Profile", profile_path %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class:"btn btn-outline-dark" %>
    <% else %>
        <%= link_to "Log In", new_user_session_path, class:"btn btn-outline-dark" %>
        <%= link_to "Registration", new_user_registration_path, class:"btn btn-outline-dark" %>
    <% end %>
    </div>
</div>
