<%= stylesheet_link_tag "forms" %>

<div class="container mt-5">
  <div class="container-box">
    <div class="container-for-form">
      <h2 class="text-center mb-4">Sign up</h2>

      <%= form_with(model: @user, data: {turbo: false}, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :email, class:"form-label" %>
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>

        <% if @user.errors[:email].empty? %>
          <p></p>
        <% else %>
          <% @user.errors[:email].each do |error| %>
            <div class="d-flex gap-2 align-items-center">
              <%= image_tag("Subtract.svg") %>
              <p class="error-message"><%= error %></p>
            </div>
          <% end %>
        <% end %>

        <div class="field">
          <%= f.label :username, class:"form-label" %>
          <%= f.text_field :username, class:"form-control" %>
        </div>

        <% if @user.errors[:username].empty? %>
          <p></p>
        <% else %>
          <% @user.errors[:username].each do |error| %>
            <div class="d-flex gap-2 align-items-center">
              <%= image_tag("Subtract.svg") %>
              <p class="error-message"><%= error %></p>
            </div>
          <% end %>
        <% end %>

        <div class="field">
          <%= f.label :password, class:"form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>

        <% if @user.errors[:password].empty? %>
          <p></p>
        <% else %>
          <% @user.errors[:password].each do |error| %>
            <div class="d-flex gap-2 align-items-center">
              <%= image_tag("Subtract.svg") %>
              <p class="error-message"><%= error %></p>
            </div>
          <% end %>
        <% end %>

        <div class="field">
          <%= f.label :password_confirmation, class:"form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <% if @user.errors[:password_confirmation].empty? %>
          <p></p>
        <% else %>
          <% @user.errors[:password_confirmation].each do |error| %>
            <div class="d-flex gap-2 align-items-center">
              <%= image_tag("Subtract.svg") %>
              <p class="error-message"><%= error %></p>
            </div>
          <% end %>
        <% end %>

        <div class="elements-block">
          <div class="actions button-block">
            <%= f.submit "Sign up", class:"btn btn-dark" %>
          </div>

          <div class="d-flex gap-3 links-block">
            <%= render "devise/shared/links" %>
            <%= link_to "Home", home_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
