<div class="container mt-5">
    <div class="container-box">
        <div class="container-for-form">

            <h2 class="text-center mb-4">Reset your password</h2>

            <%= form_with model: @user,data: { turbo: false }, url: password_reset_edit_path(token: params[:token]) do |f| %>
                <div class="field">
                    <%= f.label :password, class:"form-label" %>
                    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                </div>
                <div class="field">
                    <%= f.label :password_confirmation, class:"form-label" %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
                </div>

                <% if f.object.errors.any? %>
                    <div class="mt-3">
                        <% f.object.errors.full_messages.each do |message| %>
                            <div class="d-flex gap-2 align-items-center">
                                <%= image_tag("Subtract.svg") %>
                                <p class="error-message"><%= message %></p>
                            </div>
                        <% end %>
                    </div>
                <% end %>

                <div class="mt-3">
                    <div class="d-flex justify-content-center">
                        <%= f.submit "Reset Password", class:"btn btn-dark" %>
                    </div>
                </div>
            <% end %>
            <% if notice.present? %>
                <div class="d-flex align"><%= notice %></div>
            <% end %>
        </div>
    </div>
</div>
