<div class="container mt-5">
    <div class="container-box">
        <div class="container-for-form">

            <h2 class="text-center mb-4">Forgot your password?</h2>

            <%= form_with url: password_reset_path do |f| %>
                <div class="mb-3">
                    <%= f.label :email %>
                    <%= f.text_field :email, class:"form-control", placeholder:"user@email.com" %>
                </div>

                <div class="mb-3">
                    <div class="d-flex justify-content-center">
                        <%= f.submit "Reset Password", class:"btn btn-dark" %>
                    </div>
                </div>

            <% end %>
        </div>
    </div>
</div>
