<%= stylesheet_link_tag "header", media: "all" %>

<header class="header_container">
    <%= render template: "components/header" %>
</header>

<div class="container">
    <% if notice.present? %>
        <p class="alert alert-secondary mt-4 mb-4"><%= notice %></p>
    <% end %>
</div>
