<div class="container mt-5">
  <div class="container-box">
    <div class="container-for-form">
      <h2 class="text-center mb-4">Log in</h2>

      <%= form_with model: resource,data: { turbo: false }, url: session_path(resource_name), as: resource_name do |f| %>

        <div class="field">
          <%= f.label :email, class:"form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, class:"form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
        </div>

        <% if flash[:alert].present? %>
        <div class="d-flex gap-2 align-items-center mt-2 mb-2">
          <%= image_tag("Subtract.svg") %>
          <div class="error-message">
            <%= flash[:alert] %>
          </div>
        </div>
        <% end %>

        <div class="elements-block">
          <div class="actions button-block">
            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-dark" %>
            </div>
          </div>
      <% end %>

        <div class="d-flex gap-3 links-block">
          <%= link_to "Sign Up", new_user_registration_path %>
          <strong><%= link_to "Forgot your password?", password_reset_path %></strong>
        </div>
      </div>

    </div class="container-for-form">
  </div class="container-box">
</div class="container mt-5">
