.container-box {
    display: flex;
    justify-content: center;
}

.container-for-form {
    width: 400px;
}

.error-message {
    color: #E96479;
    margin: 0px;
}

.elements-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-block {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.links-block {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
