<header class="header_container">
    <%= render template: "components/header" %>
</header>

<%= link_to "Edit", profile_edit_path, class:"btn btn-dark" %>

<h1>User Profile Page</h1>
<h2><%= @user.email %></h2>
<h2><%= @user.username %></h2>
